body {
    padding: 20px;
}

.form-input {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.25s ease;
}

.form-input:focus {
    border-color: #6a5af9;
    outline: none;
}

.form-field {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    color: #999;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 0;
    left: 13px;
    background-color: white;
    color: #6a5af9;
    transition: 0.25s ease;
    padding: 0 8px;
}

.form-input:not(:placeholder-shown) {
    border-color: #6a5af9;
}
